@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-coffee: #9b7d61;
    --clr-peach: #daa38f;
    --clr-wheat: #e9d7c0;
    --clr-eucalyptus: #92ada4;
    --clr-cream: #fed8a6;
    --clr-isabelline: #EDE9E3;
    --clr-viridian:  #5C8D7D;
    --clr-sienna: #DB8465;
    --clr-brown: #6B543E;
  }

  body{
    font-family: var(--font-inter);
  }

.header{
  font-family: var(--font-satisfy);
}

.subheader{
  font-family: var(--font-sarabun);
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.box {
  position: relative;
  overflow: hidden;
  background: rgba(233, 233, 233, 0.03); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  box-shadow: inset 4px 4px 6px rgba(219, 132, 101, 0.3); /* Inner shadow */
  border-radius: 10px; /* Optional: Rounded corners for a smoother look */
  border: 2px solid rgba(219, 132, 101, 0.5); /* Border color and transparency */
}

.box::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: inherit;
  filter: blur(20px); /* Increased blur intensity for a more glassy effect */
  z-index: -1;
  border-radius: 12px; /* Match the parent border radius */
}
