@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-coffee: #9b7d61;
    --clr-peach: #daa38f;
    --clr-wheat: #e9d7c0;
    --clr-eucalyptus: #92ada4;
    --clr-cream: #fed8a6;
    --clr-isabelline: #EDE9E3;
    --clr-viridian:  #5C8D7D;
    --clr-sienna: #DB8465;
  }

  body{
    font-family: var(--font-inter);
  }

.header{
  font-family: var(--font-satisfy);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
